@import "_nullstyle.scss";
@import "_vars.scss";

body {
   a {
      text-decoration: underline;
   }

   p,
   li {
      hyphens: auto;
   }

}

.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.content {
   margin: 0 auto;
   width: 1280px;
}

.container {
   max-width: 1180px;
   margin: 0 auto;
}

.rig {
   padding-left: 20px;
   margin: 20px 0;
}

.color__white {
   filter: invert(1);
}

h1 {
   font-size: 38px;
   letter-spacing: 5px;
   margin-bottom: 20px;
   text-transform: uppercase;
}

h2 {
   font-size: 36px;
   font-weight: 700;
   margin: 20px 0px 40px 0px;
   line-height: 1.2;
}

h3 {
   color: $color_basic;
   background-color: $color_blue;
   text-transform: uppercase;
   font-size: 20px;
   padding: 20px 0px 20px 0px;
   font-weight: 600;
}

h4 {

   margin-bottom: 10px;
   color: $color_blue;
   font-style: 30px;
   font-weight: 800;
}

li {

   padding-left: 20px;
   position: relative;
   margin: 8px 0;

   &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 3px;
      display: block;
      padding-left: 8px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color_blue
   }

   a {
      color: $color_blue;
   }


}

.columns {

   display: flex;
   border: $color_blue 4px solid;

   &__left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 350px;
      min-width: 350px;
      padding-bottom: 20px;
      background-color: $color_blue;
      color: $color_white;

      a {
         color: $color_white;
      }

      li {

         &::before {
            background-color: $color_white;
         }
      }

      .avatar {

         img {
            width: 100%;
            border-right: $color_blue 4px solid;
            overflow: hidden;
         }
      }

      .info {

         padding: 0 13px 0 20px;

         .github {
            a {
               font-size: 20px;
               padding-left: 6px;
            }

            img {
               width: 20px;
               height: 20px;

            }
         }
      }

      .contacts {
         margin-right: 20px;
         overflow: hidden;
         width: 100%;

         a {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
         }


         img {
            width: 20px;
            height: 20px;
         }

         &__wrapper {
            display: flex;
            align-items: center;
            padding: 5px 0;

            p,
            a {
               padding-left: 18px;
            }
         }
      }
   }

   .priority {
      padding: 0 13px 0 20px;
   }

   &__right {

      padding: 0 20px;
      color: $color_blue;

      .job {

         ul {
            margin-top: 8px;
         }

      }

      .right {

         &__about {
            margin-left: 5px;
         }

         &__description {
            margin: 8px 0;

            a {
               color: $color_blue;
            }
         }
      }
   }
}